.customer-container {
    position: relative;
    background: darkgoldenrod;
    height: 20vh;
    width: 40vh;
    display: flex;
    justify-content: center;
    margin-right: 10vh;
    align-items: center;
    box-shadow: 1px 2px 5px lightgray;
}

.customer-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    height: 10vh;
    width: 20vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vh;
    color:black;
}

.customer-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  width: 10vh;
}

.customer-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2vh;
}